*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  background: darkslategray;
  color: white;
  padding: 50px 0px 100px 100px;
  /* align-items: center; */



}

/* .todo{
  width: 500px; 
  background: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.todo h1{
  padding-top: 30px;
}
.todo input{
  padding: 10px 20px;
  margin: 20px 5px;
  border-radius: 4px;
}
.todo button{
  padding: 9px 18px;
  margin: 0px 10px;
  border-radius: 4px;
}
.eachItem{
  display: flex;
  background: rgb(124, 96, 96);
  margin-left: 7px;
  width: 290px;
  border-radius: 6px;
  margin-bottom: 4px;


}
.eachItem span{
  margin: 11px 84px
}
.eachItem button{
  background: none;
  color: white;
  padding: 0px 15px;
  border-radius: 7px;
}